body
{
    font-family: 'Estonia', serif;
    background-color: purple;  
    letter-spacing: 7px;
    font-size: 30px; 
    color: white;

}
h4
{
    font-size: 35px;
}
#imagecapturer, #emotionpredict
{
    color: black !important;
    background-color: white !important;
    font-size: 40px;
    border-radius: 70px;
    border-color: greenyellow;
    border-width: 6px;
    border-style: solid;
}
#imagecapturer:hover , #emotionpredict:hover
{
    border-bottom: black;
}
#result, #camera
{
    border: cadetblue;
    width: 350px;
  height: 300px;
  border-style: ridge;
}